@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* navbar */
nav {
  margin-bottom: 0;
  font-family: cursive;
}

.head {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
}

.head a img {
  width: 16rem;
  display: block;
}

.head button {
  margin-right: 0.8rem;
  background: rgb(76, 169, 223);
  border: 1px solid #fff;
  outline: none;
  display: block;
  margin-top: 1.8rem;
  height: 2.5rem;
}
/* navlinks */
.links {
  background-color: rgb(76, 169, 223);
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  left: -500px;
  display: none;
  transition: all 0.2s ease-in;
}

.show-links {
  left: 0;
  display: block;
}

.links li {
  list-style-type: none;
  padding: 0.5rem;
  color: rgb(250, 233, 156);
  margin-bottom: 0;
}

.services-btn {
  background: transparent;
  color: inherit;
  border: none;
  outline: none;
  font-size: 1.25rem;
}

.hide-services {
  display: none;
}

.show-services {
  display: block;
}

.links li a {
  color: rgb(250, 233, 156);
  text-decoration: none;
  font-size: 1.25rem;
}

.background-image {
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background-overlay {
  background: rgba(32, 32, 31, 0.45);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-content {
  width: 100%;
  color: rgb(223, 233, 232);
}

.intro {
  font-size: 1rem;
  line-height: 1.8rem;
  margin: 0 1rem 1rem 2rem;
}

.packages-link {
  background: rgb(5, 221, 34);
  color: white;
  font-size: 1.3rem;
  margin: 2rem;
  padding: 0.5rem;
  text-decoration: none;
  text-transform: capitalize;
}

.info {
  padding: 1rem 2rem;
  font-size: 1.1rem;
  line-height: 1.9rem;
  background: rgb(193, 228, 240);
}

/* why */
.why-title {
  color: rgb(224, 97, 97);
  font-size: 1.3rem;
  margin-left: 1rem;
  font-weight: 800;
}

.reasons li {
  padding: 0.5rem;
  font-size: 1rem;
}

/* design */

.design-intro {
  font-size: 2rem;
  padding: 0.8rem;
  line-height: 2.7rem;
}

.design-points {
  background: rgb(130, 229, 229);
  padding: 0.4rem 0.7rem;
  font-size: 1.1rem;
  color: brown;
  line-height: 1.9rem;
}

.design-points a {
  background: brown;
  color: white;
  text-transform: capitalize;
  text-decoration: none;
  padding: 0.3rem;
  font-size: 1.25rem;
}

/* seo page */
.seo-intro {
  font-size: 1.4rem;
  line-height: 2.2rem;
  padding: 0.8rem;
  margin-bottom: 0;
}

.about-seo {
  display: flex;
  flex-direction: column;
  color: rgb(41, 38, 38);
  background-color: lightskyblue;
  padding: 0.6rem;
  font-size: 1.1rem;
  line-height: 2rem;
}

/* domain page */
.domain {
  min-height: 50vh;
  background-color: rgb(255, 249, 241);
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  padding: 0.7rem;
  line-height: 2.2rem;
}

.domain h4 {
  color: rgb(92, 172, 204);
  font-size: 1.2rem;
  font-weight: 700;
}

.contact-us-link {
  background-color: green;
  color: white;
  padding: 0.2rem;
  font-size: 1.2rem;
  display: inline-block;
  text-decoration: none;
  margin: 0 0 0.6rem 0.7rem;
}

/* mantainance page */
.mantainance-intro {
  font-size: 1rem;
  line-height: 2rem;
  padding: 0.8rem;
  padding-bottom: 0;
  color: rgb(255, 255, 167);
}

.contact-link {
  background-color: red;
  color: white;
  border: none;
  font-size: 1.3rem;
  padding: 0.3rem;
  margin-left: 0.7rem;
  text-decoration: none;
}

/* freelancing */
.freelance-intro {
  text-align: center;
  font-size: 1.6rem;
  padding: 0.7rem;
  line-height: 2.1rem;
}

/* services */
.services {
  min-height: 60vh;
}

.services h5 {
  margin-left: 0.6rem;
  font-size: 1.4rem;
  border-bottom: rgb(245, 106, 56) solid 2px;
}

.back-home {
  background-color: rgb(24, 23, 23);
  color: #fff;
  padding: 0.4rem;
  text-transform: capitalize;
  font-size: 1.1rem;
  text-decoration: none;
  display: inline-block;
  margin: 1rem;
}

.links-services a {
  display: block;
  font-size: 1.5rem;
  padding: 1rem;
  text-transform: capitalize;
  color: rgb(46, 125, 190);
  font-weight: 600;
}

/* packages */
.packages {
  margin: 1rem;
  color: rgb(189, 189, 231);
}

.packages-info {
  font-size: 2.5rem;
  line-height: 2.8rem;
  padding: 0.7rem;
}

.packages h4 {
  font-size: 1.4rem;
  font-weight: 800;
  color: rgb(199, 29, 171);
}

.packages li {
  padding: 0.3rem;
  font-size: 1.25rem;
}

/* portfolio */
.unavailable {
  text-align: center;
  font-size: 1.6rem;
  padding: 0.7rem;
  min-height: 50vh;
}

/* blog */
.blog {
  margin-top: 2.6rem;
}

.blog img {
  width: 100%;
}

.blog p {
  font-size: 1.2rem;
  padding: 0.6rem;
  line-height: 2.2rem;
  color: rgb(15, 83, 83);
}

.blog button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: inherit;
  text-decoration: solid;
  color: blue;
}

/* contact form */

form {
  min-height: 50vh;
  margin-top: 1rem;
}

form button {
  display: block;
  background-color: #333;
  color: white;
  margin-left: 0.6rem;
  outline: none;
  font-size: 1.1rem;
}

.field {
  margin: 0.9rem;
  padding: 0.8rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.field input {
  background-color: rgb(219, 250, 247);
  color: rgb(51, 40, 40);
  padding: 0.4rem;
  font-size: 1.1rem;
}

.field label {
  font-size: 1.3rem;
  color: rgb(177, 2, 2);
}

.field select {
  background-color: rgb(219, 250, 247);
  font-size: 1.2rem;
}

/* footer */
footer {
  min-height: 35vh;
  background: rgb(39, 34, 34);
  border-top: 2px solid white;
  color: white;
  font-family: cursive;
}

.page-links a {
  display: block;
  color: rgb(222, 231, 170);
  text-decoration: underline;
  font-size: 1.1rem;
  padding: 0.2rem;
  font-weight: 800;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 9.5rem;
  color: white;
}

.partners {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.2rem;
}

.contact {
  text-align: center;
  font-size: 1.1rem;
  color: teal;
  font-family: cursive;
}

.copyright {
  text-align: center;
  font-weight: 500;
  color: coral;
  text-transform: capitalize;
}

/* media query */
@media screen and (min-width: 820px) {
  .head button {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
  }

  .links {
    position: relative;
    left: 0;
    display: block;
    transition: all 0.2s ease-in;
  }

  .links {
    background-color: transparent;
  }

  .links li {
    display: inline-block;
  }

  .links li a {
    color: rgb(143, 118, 6);
    text-decoration: none;
    font-size: 1.7rem;
  }

  .services-btn {
    color: rgb(143, 118, 6);
    font-size: 1.7rem;
    font-family: cursive;
  }

  .services-links li {
    display: inline-block;
  }

  /* homepage */
  .intro {
    font-size: 2.4rem;
    line-height: 3.6rem;
  }

  .info {
    padding: 2rem 3.2rem;
    font-size: 2rem;
    line-height: 3.3rem;
  }

  .why-title {
    font-size: 1.9rem;
    margin-left: 1.6rem;
  }

  .reasons li {
    padding: 0.9rem;
    font-size: 1.9rem;
  }

  /* services */
  .services h5 {
    font-size: 1.9rem;
  }

  .links-services a {
    font-size: 1.7rem;
    padding: 1.4rem;
  }

  /* portfolio */
  .unavailable {
    font-size: 3rem;
    padding: 0.9rem;
    min-height: 50vh;
  }

  /* design */

  .design-intro {
    font-size: 3.2rem;
    padding: 1rem;
    line-height: 3.8rem;
  }

  .design-points {
    padding: 0.8rem 1rem;
    font-size: 1.9rem;
    line-height: 3rem;
  }

  .design-points a {
    padding: 0.3rem;
    font-size: 1.25rem;
  }

  /* domain page */
  .domain {
    font-size: 1.7rem;
    padding: 1rem;
    line-height: 2.8rem;
  }

  .domain h4 {
    font-size: 1.9rem;
  }

  /* mantainance page */
  .mantainance-intro {
    font-size: 2rem;
    line-height: 3.3rem;
    padding: 1.8rem;
  }

  /* seo page */
  .seo-intro {
    font-size: 2.3rem;
    line-height: 3.7rem;
    padding: 1.8rem;
  }

  .about-seo {
    padding: 0.9rem;
    font-size: 1.9rem;
    line-height: 3rem;
  }

  /* freelancing */

  .freelance-intro {
    text-align: center;
    font-size: 3.5rem;
    padding: 1.4rem;
    line-height: 3.7rem;
  }

  /* packages */
  .packages {
    margin: 1rem;
    color: rgb(189, 189, 231);
  }

  .packages-info {
    font-size: 3rem;
    line-height: 3.5rem;
    padding: 1rem;
  }

  .packages h4 {
    font-size: 1.9rem;
  }

  .packages li {
    padding: 0.9rem;
    font-size: 1.8rem;
  }

  /* contact form */

  form {
    margin-top: 1.5rem;
  }

  form button {
    margin-left: 0.9rem;
    font-size: 1.4rem;
  }

  .field {
    margin: 1.5rem;
    padding: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .field input {
    padding: 0.6rem;
    font-size: 1.4rem;
  }

  .field label {
    font-size: 1.6rem;
  }

  .field select {
    font-size: 1.6rem;
  }

  /* footer */
  footer {
    min-height: 35vh;
  }

  .page-links a {
    padding: 0.5rem;
  }

  .social-links {
    margin: 0 13rem;
  }

  .partners {
    margin: 1.6rem 0.2rem 0 0.2rem;
  }

  .contact {
    font-size: 1.4rem;
  }

  .copyright {
    font-size: 1.4rem;
  }
}
