@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* navbar */
nav {
  margin-bottom: 0;
  background-color: #fff;
}

.head {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.head a {
  display: inline-flex;
}

.head a img {
  width: 12rem;
}

.head button {
  color: rgb(114, 201, 230);
  outline: none;
  display: inline-flex;
  height: 2.5rem;
  background: transparent;
  border: none;
  flex-direction: column;
  text-transform: uppercase;
  line-height: 1.5rem;
}

/* navlinks */
.links-model {
  min-height: 15px;
  background-color: #333;
  transition: all 0.2s ease-in;
  display: flex;
}

.hide-model {
  min-height: -100vh;
  display: none;
  transition: all 0.5s ease-in-out;
}

.links li {
  list-style-type: none;
  padding: 0.6rem;
  color: rgb(250, 233, 156);
}

.links {
  display: flex;
  padding: 0.4rem;
}

.links li a {
  color: rgb(250, 233, 156);
  text-decoration: none;
  font-size: 1.1rem;
}

.get-started {
  text-transform: capitalize;
  background: red;
  color: #fff !important;
  border-radius: 1rem;
  padding: 0.4rem;
}

.overlay {
  background-color: rgba(59, 47, 47, 0.65);
  min-height: inherit;
  margin: 0;
  padding: 0;
}

.background-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  font-size: 1.5rem;
  color: white;
  line-height: 1.9rem;
}

.background-image {
  min-height: 40vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.packages-link {
  background: rgb(5, 221, 34);
  color: white;
  font-size: 1.3rem;
  margin: 2rem;
  padding: 0.5rem;
  text-decoration: none;
  text-transform: capitalize;
}

.info {
  padding: 1rem 2rem;
  font-size: 1.1rem;
  line-height: 1.9rem;
  background: rgb(193, 228, 240);
}

/* why */

.background-overlay {
  background: rgb(65, 63, 63, 0.6);
}

.why-title {
  color: rgb(224, 97, 97);
  font-size: 1.3rem;
  margin-left: 1rem;
  font-weight: 800;
}

.reasons li {
  padding: 0.3rem;
  font-size: 1rem;
}

/* services */
.services h2 {
  text-transform: capitalize;
  color: teal;
}

.services {
  margin: 0.6rem;
  line-height: 1.5rem;
}

.service h3 {
  text-transform: capitalize;
}

.option {
  margin: auto 1rem;
  font-size: 1.2rem;
  line-height: 1.7rem;
}

.option h3 {
  color: rgb(17, 173, 166);
  text-transform: capitalize;
}

.option a {
  margin-bottom: 0.7rem;
  display: inline-flex;
  text-decoration: none;
}

.option a:hover {
  background-color: blue;
  padding: 0.5rem;
}

.contact-us-link {
  background-color: green;
  color: white;
  padding: 0.2rem;
  font-size: 1.2rem;
  display: inline-block;
  text-decoration: none;
  margin: 0 0 0.6rem 0.7rem;
}

.contact-link {
  background-color: red;
  color: white;
  border: none;
  font-size: 1.3rem;
  padding: 0.3rem;
  margin-left: 0.7rem;
  margin-top: 0.3rem;
  text-decoration: none;
  display: inline-block;
}

.back-home {
  background-color: rgb(24, 23, 23);
  color: #fff;
  padding: 0.4rem;
  text-transform: capitalize;
  font-size: 1.1rem;
  text-decoration: none;
  display: inline-block;
  margin: 1rem;
}

.links-services a {
  display: block;
  font-size: 1.5rem;
  padding: 1rem;
  text-transform: capitalize;
  color: rgb(46, 125, 190);
  font-weight: 600;
}

/* packages */
.packages {
  margin: 1rem;
  color: rgb(189, 189, 231);
}

.packages-info {
  font-size: 2.5rem;
  line-height: 2.8rem;
  padding: 0.7rem;
}

.packages h4 {
  font-size: 1.4rem;
  font-weight: 800;
  color: rgb(199, 29, 171);
}

.packages li {
  padding: 0.3rem;
  font-size: 1.25rem;
}

.price {
  color: rgb(255, 94, 0);
  font-size: 1.5rem;
  font-weight: 700;
}

/* portfolio */
.unavailable {
  text-align: center;
  font-size: 1.6rem;
  padding: 0.7rem;
  min-height: 50vh;
}

/* blog */
.blog-links {
  margin: 2.5rem 0 0 0.9rem;
}

.blog-links a {
  color: #333;
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 700;
  text-decoration: none;
}

.blog-image a img {
  width: 15rem;
}

.blog-post {
  margin: auto 1rem;
  line-height: 1.5rem;
}

.blog-post img {
  width: 75%;
}

.blog-post h2 {
  font-size: 1.2rem;
}

.blog-post h1 {
  color: coral;
  font-size: 1.8rem;
}

/* contact form */
.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  min-height: 50vh;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form button {
  display: block;
  background-color: #333;
  color: white;
  margin-left: 0.6rem;
  outline: none;
  font-size: 1.1rem;
}

form input,
textarea {
  background: skyblue;
  margin-bottom: 1.3rem;
  border: none;
  padding: 0.7rem;
  color: black;
}

/* footer */
footer {
  min-height: 35vh;
  background: rgb(39, 34, 34);
  border-top: 3px solid white;
  color: white;
  margin: 0;
}

.footer-services {
  margin-bottom: 2rem;
}

.footer-services a {
  color: white;
  text-decoration: none;
  padding: 0.3rem;
  display: block;
  text-transform: capitalize;
}

.footer-services h3 {
  color: yellow;
  margin-bottom: 0;
}

.page-links a {
  color: white;
  font-size: 1rem;
  padding: 0.3rem;
  text-decoration: none;
  display: block;
  text-transform: capitalize;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 9.5rem;
  color: white;
}

.partners {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.2rem;
}

.contact {
  text-align: center;
  font-size: 1.1rem;
  color: teal;
  font-family: cursive;
}

.copyright {
  text-align: center;
  font-weight: 500;
  color: coral;
  text-transform: capitalize;
}

/* media query */
@media screen and (min-width: 820px) {
  .head a img {
    width: 18rem;
  }

  .links-model {
    justify-content: center;
    display: flex;
    transition: all 0.5s ease-in-out;
  }

  .hide-model {
    min-height: -100vh;
    display: none;
  }

  .links {
    background-color: transparent;
  }

  .links li {
    display: inline-block;
  }

  .links li a {
    color: rgb(143, 118, 6);
    text-decoration: none;
    font-size: 1.7rem;
  }

  /* homepage */
  .background-content {
    padding-top: 4.3rem;
    font-size: 3.3rem;
    color: white;
    line-height: 3.7rem;
  }

  .background-image {
    min-height: 65vh;
  }

  .info {
    padding: 2rem 3.2rem;
    font-size: 2.1rem;
    line-height: 3.4rem;
  }

  .background-overlay {
    width: 100%;
    height: 100%;
  }

  .why-title {
    font-size: 1.9rem;
    margin-left: 1.6rem;
  }

  .reasons li {
    padding: 0.9rem;
    font-size: 1.9rem;
  }

  /* services */
  .services h2 {
    font-size: 2rem;
  }

  .services {
    margin: 0.8rem;
    line-height: 2.4rem;
    font-size: 1.5rem;
  }

  .service h3 {
    font-size: 1.8rem;
  }

  .option {
    margin: auto 1.3rem;
    font-size: 1.5rem;
    line-height: 2.4rem;
  }

  .option h3 {
    font-size: 2rem;
  }

  /* portfolio */
  .unavailable {
    font-size: 3rem;
    padding: 0.9rem;
    min-height: 50vh;
  }

  /* packages */
  .packages {
    margin: 1rem;
    color: rgb(189, 189, 231);
  }

  .packages-info {
    font-size: 3rem;
    line-height: 3.5rem;
    padding: 1rem;
  }

  .packages h4 {
    font-size: 1.9rem;
  }

  .packages li {
    padding: 0.9rem;
    font-size: 1.8rem;
  }

  /* blog */
  .blog-links {
    margin: 2.8rem 0 0 1.2rem;
  }

  .blog-links a {
    font-size: 1.9rem;
  }

  .blog-image a img {
    width: 20rem;
  }

  .blog-post {
    margin: auto 1.3rem;
    line-height: 2.4rem;
  }

  .blog-post h2 {
    font-size: 1.5rem;
  }

  .blog-post h1 {
    font-size: 1.9rem;
  }

  .blog-post p {
    font-size: 1.4rem;
  }

  /* contact form */

  form {
    margin-top: 1.5rem;
  }

  form button {
    margin-left: 0.9rem;
    font-size: 1.4rem;
  }

  .field {
    margin: 1.5rem;
    padding: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .field input {
    padding: 0.6rem;
    font-size: 1.4rem;
  }

  .field label {
    font-size: 1.6rem;
  }

  .field select {
    font-size: 1.6rem;
  }

  /* footer */
  footer {
    min-height: 35vh;
  }

  .footer-services {
    margin-bottom: 2rem;
  }

  .footer-services a {
    color: white;
    text-decoration: none;
    padding: 0.3rem;
    display: block;
    text-transform: capitalize;
  }

  .footer-services h3 {
    color: yellow;
    margin-bottom: 0;
  }

  .page-links a {
    padding: 0.5rem;
  }

  .social-links {
    margin: 0 13rem;
  }

  .partners {
    margin: 1.6rem 0.2rem 0 0.2rem;
  }

  .contact {
    font-size: 1.4rem;
  }

  .copyright {
    font-size: 1.4rem;
  }
}
